.banner{
  background: @light-grey;
}
/* ==========================================================================
Media Queries
========================================================================== */

@media (min-width: @screen-sm-min) {

}

@media (min-width: @screen-md-min) {

}

@media (min-width: @screen-lg-min) { }

@media (max-width: @screen-lg-min) {
  .navbar-header {
    width: 100%;
  }
  .image-caption {
    bottom: 0;
  }
  .navbar-default {
    padding: 10px 10px 20px;
  }
}

@media (max-width: 1020px) {
  #hovercircles {
    display: none;
  }

  .home #navdiv {
    display: block;
  }
}

@media (max-width: 900px) {
  .image-caption h1 {
    font-size: 34px;
    line-height: 45px;
  }
}

@media (max-width: 580px) {
  .vertical-xl-top-pad {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #desktop-phone {
    font-size: 24px;
  }
}

@media (max-width: @screen-sm-min) {
  .wrap {
    padding-top: 105px;
  }
  #desktop-phone {
    top: 5px;
    right: 10px;
  }
}

@media (max-width: 420px) {
  #desktop-phone,
  .desktop-phone {
    display: none;
  }
  #mobile-phone,
  .mobile-phone {
    display: block;
  }
}

/* =========================================================================
Widgets
======================================================================*/
#desktop-phone {
  position: absolute;
  top: 45px;
  right: 40px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}

#desktop-phone .glyphicon-earphone,
#desktop-phone .glyphicon-phone-alt,
.desktop-phone .glyphicon-earphone,
.desktop-phone .glyphicon-phone-alt {
  font-size: 24px;
  color: red;
}

header .desktop-phone .glyphicon-earphone,
header .desktop-phone .glyphicon-phone-alt {
  font-size: 24px;
  color: #fff;
}

#mobile-phone {
  position: absolute;
  top: 5px;
  display: none;
  right: 10px;
}

#mobile-phone .btn,
.mobile-phone .btn {
  border-radius: 0;
  background: red;
}

#mobile-phone .glyphicon-earphone,
#mobile-phone .glyphicon-phone-alt {
  font-size: 18px;
  line-height: 18px;
  color: #fff;
}

/* Mobile CTA in sidebar */
.mobile-phone {
  display: none;
}

.desktop-phone {
  text-align: left;
  font-size: 30px;
  //margin-top: 20px;
}
